:root {
    --main-padding: 40px;
    --nav-color: rgb(239, 239, 239);
    --orange-color:  #FBAB7E;
    --square-1-padding: calc(15px - 1.5vw);
    --square-2-padding: calc(15px - .5vw);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 0 var(--main-padding);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 52px;
    background-color: var(--nav-color);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
    z-index: 99;
}

.navigation__list {
    display: none;
    align-items: center;
    height: 100%;
    list-style-type: none;

}

.navigation__item {
   line-height: 52px;
   height: 100%;
}

.navigation__anchore { 
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1.4vw 15px;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    transition: .2s;
}

.navigation__item:hover {
    background-color:white;
    animation: menuFlash .1s;
}

.navigation__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.navigation__icon-strip {
    display: block;
    background-color:black;
    width: 30px;
    height: 5px;
    border-radius: 1px;
}

.navigation--big {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 var(--main-padding);
    background-color: var(--orange-color);
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    transform: translateY(-100%);
    z-index: 9;
    transition: .3s ;
}

.navigation__close {
    display: block;
    width: 32px;
    height: 30px;
    margin: 8px 0 0 auto;
    text-decoration: none;
}

.navigation__close::after {
    content: "\2716";
    font-size: 4rem;
    color: white;
    line-height: 30px;
}

.navigation__list--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    list-style: none;
}

.navigation__anchore--big {
    color: white;
    font-size: 15vmin;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: .9s;
    box-shadow: inset 0 0 0 0  rgba(110,123,251,1);
}

.navigation__anchore--big:hover {
    color:  rgb(150, 160, 253);
    box-shadow: inset 100vw 0 0 0 white;
}

.navigation--big:target {
    visibility: visible;
    transform: translateY(0);
}

.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 6vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #2d2d2d 0%, black 100%);
    
}

.squares__container {
    padding: var(--square-1-padding)var(--square-2-padding);
    width: 36vmax;
}

.squares__container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .squares__box {
    width: 93%;
    height: 36%;
    position: relative;
    top: 0;
    left: -27%;
    transform-origin: top right;
    transform: rotate(-45deg);
    transition: .5s ;
  }

  .squares__box:target {
   animation: rotate .5s backwards ;
  }


.squares__square {
    position: absolute;
    width: 40%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.498);
    border:2px solid rgba(255, 255, 255, 0.52);
}
.squares__square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.squares__square:nth-child(1) {
    left: 0;
    top: 0;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    /* opacity: .7; */
    
/* 
    transform-origin: top left;
    transform: rotate(-45deg); */

}

.squares__square:nth-child(2) {
   
    right: 0;
    top: 4%;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    /* opacity: .7; */
/* 
    transform-origin: top left;
    transform: rotate(45deg); */
}

.shapes__container {
    display: flex;
    width: 25vmax;
    align-items: center;
    margin-left: 1.7vw;
    margin-top: 5vmin;
    
}

.shapes__strips {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;
    height: 100%;
    margin-right: auto;
    
}

.shapes__strip {
    display: block;
    margin: 6% 0;
    width: 100%;
    height: 18%;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.498);
    border:2px solid rgba(255, 255, 255, 0.52);
}

.shapes__circle {
    width: 40%;
    border-radius: 50%;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.498);
    border:2px solid rgba(255, 255, 255, 0.52);
}


.shapes__circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.flex-container {
    display: flex;
    flex-direction: column;
    height: 50vmax;
   
}

.text__container {
    padding: 10px;
    margin: 6vw 5vw 0 15%;
    width: 60%;
    max-width: 258px;
    height: 50vmax;
    overflow: hidden;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.498);
    border:1px solid rgba(255, 255, 255, 0.52); 
}

.text__p {
    font-size: 100%;
    color:#ffffff ;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    text-align: justify;
}





@keyframes menuFlash {
    100% {
        color: rgb(168, 168, 168);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 583px) and (orientation: landscape) {
    .squares__container {
        width: 29vmin;
    }

    .shapes__container {
        width: 21vmin;
    }
}

@media (min-width: 583px) {
    .navigation__list {
        display: flex;
    }
    .navigation__icon {
        display: none;
    }
    .main {
       flex-direction: row;
       justify-content: space-between;
    }

    .flex-container {
        width: 40%;
        height: auto;
        
    }
    .squares__container {
        width: 60vmin;
    }

    .shapes__container {
        width: 40vmin;
    }

    .text__container {
        height: 70vh;
    }
    
}

@media (min-width: 900px){
    .flex-container {
        justify-content: space-between;
       flex-direction: row;
       flex-basis: 50%;
    }

    .squares__container {
        margin-bottom: auto;
        width: 94vmin;
    }
    
    .squares__box {
        height: 11vw;
    }

    .shapes__container {
        margin-bottom: auto;
        margin-left: 5vw;
        margin-top: 16vh;
        width: 92vmin;
        transform: translateX(50%);
    }

    .shapes__strip {
        margin: 17% 0;
        height: 1.5vw;
    }
    .text__container {
        margin: 6vw 3vw 5vh 5vw;
        background-image: linear-gradient(to left, #fc5c7d, #6a82fb);
    }
}