:root {
    --main-padding: 40px;
    --nav-color: rgb(239, 239, 239);
    --orange-color:  #FBAB7E;
    --square-1-padding: calc(15px - 1.5vw);
    --square-2-padding: calc(15px - .5vw);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    padding: 0 var(--main-padding);
    width: 100%;
    /* min-height: 52px;
    height: auto; */
    min-height: 52px;
    height: 6vw;
    background-color: var(--nav-color);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
}

.navigation__list {
    display: none;
    align-items: center;
    height: 100%;
    list-style-type: none;

}

.navigation__item {
   padding: 13px 0px;
}

.navigation__anchore { 
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 13px 15px;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    transition: .2s;
}

.navigation__anchore:hover {
    background-color:white;
    border-bottom: 2px solid black;
    animation: menuFlash .1s;
}

.navigation__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.navigation__icon-strip {
    display: block;
    background-color:black;
    width: 30px;
    height: 5px;
    border-radius: 1px;
}

.navigation--big {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 var(--main-padding);
    background-color: var(--orange-color);
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    transform: translateY(-100%);
    z-index: 9;
    transition: .3s ;
}

.navigation__close {
    display: block;
    width: 32px;
    height: 30px;
    margin: 8px 0 0 auto;
    text-decoration: none;
}

.navigation__close::after {
    content: "\2716";
    font-size: 4rem;
    color: white;
    line-height: 30px;
}

.navigation__list--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    list-style: none;
}

.navigation__anchore--big {
    color: white;
    font-size: 15vmin;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: .9s;
    box-shadow: inset 0 0 0 0 var(--orange-color);
}

.navigation__anchore--big:hover {
    color: var(--orange-color);
    box-shadow: inset 100vw 0 0 0 white;
}

.navigation--big:target {
    visibility: visible;
    transform: translateY(0);
}

.main {
    display: flex;
    flex-direction: column;
    /* width: 100vmax;
    height: 100vmax; */
    width: 100%;
    height: 100%;
    background-color: grey;
    
}

.squares__container {
    /* padding: var(--square-1-padding)var(--square-2-padding); */
    width: 100%;
    /* max-height: 40vh; */
    /* max-width: 583px; */
   
    background-color: pink;
    
}

.squares__container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .squares__box {
    width: 80%;
    height: 40%;
    position: relative;
    top: 0;
    left: -23%;
    transform-origin: top right;
    transform: rotate(-45deg);
    background-color: rgb(255, 0, 123);
  }


.squares__square {
}

.squares__square:nth-child(1) {
    /* top: 63%;
    left: auto; */
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    opacity: .7;
/* 
    transform-origin: top left;
    transform: rotate(-45deg); */

}

.squares__square:nth-child(2) {
    /* top: auto;
    right: 0; */
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    opacity: .7;
/* 
    transform-origin: top left;
    transform: rotate(45deg); */
}

.shapes__container {
    background-color: red;
    display: flex;
    /* justify-content: space-between; */
    /* height: 10%; */
    width: 80%;
    align-items: center;
    
}

.shapes__strips {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 5% 0; */
    width: 44%;
    height: 100%;
    /* margin-right: 60px; */
    margin-right: auto;
}

.shapes__strip {
    background-color: blue;
    display: block;
    margin: 6% 0;
    width: 100%;
    height: 18%;
}

.shapes__circle {
    /* height: 27%; */
    width: 40%;
    border-radius: 50%;
    background-color: rgb(12, 239, 50);
}

.shapes__circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.flex-column {
    display: flex;
    flex-direction: column;
}

.text__container {
    width: 60%;
    max-width: 258px;
    /* min-height: 50vh; */
    height: 70vh;
    /* height: auto; */
    /* margin-left: 15%;
    margin-top: 5%; */
    margin: 6vw 5vw 5vh 15%;
   
    background-color: rgb(156, 30, 153);
}

.text__p {

}





@keyframes menuFlash {
    100% {
        color: rgb(168, 168, 168);
    }
}

@media (min-width: 583px){
    .navigation__list {
        display: flex;
    }
    .navigation__icon {
        display: none;
    }
    .main {
       flex-direction: row;
       justify-content: space-between;
    }

    .flex-column {
        /* margin-right: 20%; */
        width: 50%;
        
    }

    .text__container {
        /* height: 90%; */
    }
    
}

@media (min-width: 900px){
    .flex-column {
       flex-direction: row;
       background-color: rgb(54, 54, 130);
       flex-basis: 76%;
       /* align-items: flex-start; */
    }

    .squares__container {
        margin-bottom: auto;
        flex-basis: 50%;
    }
    
    .squares__box {
        height: 15vw;
    }

    .shapes__container {
        margin-bottom: auto;
        margin-left: 5vw;
        margin-top: 8vw;
        width: 35%;
        /* width: 100vw; */
        /* flex-basis: 50%; */
    }

    .shapes__strip {
        margin: 17% 0;
        height: 1.5vw;
    }
    .text__container {
        margin: 6vw 5vw 5vh 5vw;
       
    }
}